/* Reset */
body, header, nav, main, footer, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

header img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.menu-button {
    display: none;
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Horizontal Navigation Menu */
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu ul {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menu-button {
        display: block; /* Show the button on small screens */
    }

    .nav-menu {
        display: none; /* Hide horizontal nav menu on mobile */
        position: absolute;
        top: 100%;
        right: 0;
        left: 0; /* Ensure it takes full width on mobile */
        flex-direction: column;
        background-color: #204c39;
        border-radius: 5px;
        overflow: hidden;
    }

    .nav-menu ul {
        flex-direction: column;
        margin: 0;
        width: 100%;
        padding: 0;
    }

    .nav-menu li {
        width: 100%;
    }

    .nav-menu a {
        color: #fff;
        padding: 10px;
        text-align: center;
        display: block;
    }

    .nav-menu.active {
        display: flex; /* Show nav menu when active */
    }
}

/* Desktop Styles */
@media (min-width: 769px) {
    .nav-menu {
        display: flex; /* Show horizontal nav menu on desktop */
    }
}
